{% extends 'shop/basic.html' %}
{% block title %} Checkout Page{% endblock %}

{% block style %}{% endblock %}

{% block body %}
<div class="container my-4" id="items"></div>
{% endblock %}

{% block script %}
let items=document.getElementById('items');
      let html="";
      for(var item in cart){
  console.log('check');
          html+=`
<!--<div id="accordion">
    <div class="card">
        <div class="card-header" id="heading${i}">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse${i}" aria-expanded="true"
                        aria-controls="collapse${i}">
                    ${item.title , quantity}
                </button>
            </h5>
        </div>

        <div id="collapse${i}" class="collapse" aria-labelledby="heading${i}" data-parent="#accordion">
            <div class="card-body">
                ${image,description,price}
            </div>
        </div>
    </div>
</div>--> nlfnvrknv;am;l`
      }
if(html=="")items.innerHTML=`<h4 style="color:green">Your cart is empty. First, Go through our homepage to check latest branded items and add in to your cart.</h4>`;
else items.innerHTML=html;
{% endblock %}